*,
*::after,
*::before {
  /*TODO:
  in kar baes mishe ke element haii mesl <a> border box shvand va az safhe birun nazanan vaghti width an ha 100% ast.*/
  box-sizing: border-box;
}
/* Color palatte*/
:root {
  --color-accent: #ff3400;
  --color-body: #938da7;
  --color-headings: #1c0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}
/*Typography*/
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Links*/
a {
  text-decoration: none;
}
.arrowLink {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.arrowLink::after {
  content: "-->";
  margin-left: 2px;
  transition: margin 0.2s;
}
.arrowLink:hover::after {
  margin-left: 7px;
}
@media screen and (min-width: 1024px) {
  .arrowLink {
    font-size: 1.5rem;
  }
}
/*Badges*/
.badge {
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}
.badge--primary {
  background: var(--color-primary);
  color: white;
}
.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/Images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*Icons*/
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  /*TODO:
   baraye rang kardan icon ha
  */
  fill: var(--color-primary);
}
.icon-container {
  /*TODO:
   gharar dadane yek icon dar dayere (vasatesh)
  */
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*Buttons*/
.button {
  border: none;
  text-align: center;
  border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
  /*TODO:
   baes mishe ke margin haye 2 ta element tuye ham collapse nasahn
  */
  white-space: nowrap;
  /*TODO:
   vase inke vaghti text ziadi bashe be khate paiini nare
  */
  cursor: pointer;
  padding: 2rem 3rem;
  text-align: center;
}
.button--primary {
  background-color: var(--color-headings);
  color: white;
}
.button--primary:hover {
  background-color: #4424af;
}
.button--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.button--secondary:hover {
  background-color: #36d1ec;
}
.button--accent {
  background-color: var(--color-accent);
  color: white;
}
.button--accent:hover {
  background-color: #c94a2b;
}
.button--outline {
  background-color: white;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}
.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
}
.button--blcok {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}
/*Input*/
.input {
  border-radius: 9999px;
  border: none;
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
  border: 1px solid rgb(219, 218, 218);
}
::placeholder {
  color: #d1d0d6;
}
.input-group {
  border-radius: 999px;
  border: 1px solid rgb(219, 218, 218);
  display: flex;
}
.input-group .input {
  border: none;
  /*TODO:
  Beas mishe ke sokme search bere tahe block div;*/
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .button {
  margin: 3px 3px 3px 0;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/*Cards*/
.card {
  box-shadow: 0 0 10px 20px #f3f3f3;
  border-radius: 7px;
  /*TODO:
  overflow hidden mishe chun border in style ruye border haye asli over flow mishe va bedun radius has*/
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
/*Plans*/
.plan__name {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 5rem;
}
.plan__billing-cycle {
  color: #ffffff5e;
  font-size: 2rem;
  margin-right: 1rem;
}
.card__header .badge--primary {
  background-color: #126de4;
}
.card__header .badge--secondary {
  background-color: #02cdf1;
}
.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
.plan .list__item {
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(/Images/popular.svg);
  display: inline-block;
  position: absolute;
  width: 115px;
  top: -21px;
  right: 2%;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
}
/*Media*/
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
