*,
*::after,
*::before {
  /*TODO:
  in kar baes mishe ke element haii mesl <a> border box shvand va az safhe birun nazanan vaghti width an ha 100% ast.*/
  box-sizing: border-box;
}
.container--1140 {
  width: 1140px;
}
/* Color palatte*/
:root {
  --color-accent: #ff3400;
  --color-body: #938da7;
  --color-headings: #1c0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-body-darker: #5c5577;
}
/*Typography*/
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Links*/
a {
  text-decoration: none;
}
.arrowLink {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}
.arrowLink::after {
  content: "-->";
  margin-left: 2px;
  transition: margin 0.2s;
}
.arrowLink:hover::after {
  margin-left: 7px;
}
@media screen and (min-width: 1024px) {
  .arrowLink {
    font-size: 1.5rem;
  }
}
/*Badges*/
.badge {
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}
.badge--primary {
  background: var(--color-primary);
  color: white;
}
.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/Images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*Icons*/
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}
.icon--primary {
  /*TODO:
   baraye rang kardan icon ha
  */
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}
.icon-container {
  /*TODO:
   gharar dadane yek icon dar dayere (vasatesh)
  */
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container__accent {
  background-color: var(--color-accent);
}
/*Buttons*/
.button {
  border: none;
  text-align: center;
  border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
  /*TODO:
   baes mishe ke margin haye 2 ta element tuye ham collapse nasahn
  */
  white-space: nowrap;
  /*TODO:
   vase inke vaghti text ziadi bashe be khate paiini nare
  */
  cursor: pointer;
  padding: 2rem 3rem;
  text-align: center;
}
.button--primary {
  background-color: var(--color-headings);
  color: white;
}
.button--primary:hover {
  background-color: #4424af;
}
.button--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.button--secondary:hover {
  background-color: #36d1ec;
}
.button--accent {
  background-color: var(--color-accent);
  color: white;
}
.button--accent:hover {
  background-color: #c94a2b;
}
.button--outline {
  background-color: white;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}
.button--outline:hover {
  background-color: var(--color-headings);
  color: white;
}
.button--blcok {
  display: inline-block;
  width: 100%;
}
.button--long {
  padding-left: 6rem;
  padding-right: 6rem;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}
/*Input*/
.input {
  border-radius: 9999px;
  border: none;
  color: var(--color-headings);
  font-size: 2rem;
  outline: none;
  padding: 1.5rem 3.5rem;
  border: 1px solid rgb(219, 218, 218);
}
::placeholder {
  color: #d1d0d6;
}
.input-group {
  border-radius: 999px;
  border: 1px solid rgb(219, 218, 218);
  display: flex;
}
.input-group .input {
  border: none;
  /*TODO:
  Beas mishe ke sokme search bere tahe block div;*/
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .button {
  margin: 3px 3px 3px 0;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/*Cards*/
.card {
  box-shadow: 0 0 10px 20px #f3f3f3;
  border-radius: 7px;
  /*TODO:
  overflow hidden mishe chun border in style ruye border haye asli over flow mishe va bedun radius has*/
  overflow: hidden;
}
.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card--primary .card__header {
  background-color: var(--color-primary);
  color: white;
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: white;
}
/*Plans*/
.plan__name {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 2.4rem;
}
.plan__price {
  font-size: 5rem;
}
.plan__billing-cycle {
  color: #ffffff5e;
  font-size: 2rem;
  margin-right: 1rem;
}
.card__header .badge--primary {
  background-color: #126de4;
}
.card__header .badge--secondary {
  background-color: #02cdf1;
}
.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}
.plan .list__item {
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(/Images/popular.svg);
  display: inline-block;
  position: absolute;
  width: 115px;
  top: -21px;
  right: 2%;
}
@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
}
/*Media*/
.media {
  display: flex;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
/*Quotes*/
.quote {
  font-size: 3rem;
  color: var(--color-body-darker);
  font-style: italic;
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__footer .media__body {
  font-style: normal;
}
.quote__author {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0;
}
.quote__organization {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
}
.quote__line {
  position: relative;
  top: -10px;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}
/*Grid*/
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*Testimonial*/
.testimonial {
  padding: 2rem;
}
.testimonial__image {
  position: relative;
}
.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}
.tetimonial__image > img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}
/*Callout*/
.callout {
  border-radius: 1rem;
  padding: 4rem;
}
.callout--primary {
  background-color: var(--color-primary);
  color: white;
}
.callout__content {
  text-align: center;
}
.callout__header {
  color: white;
  margin-top: 0;
  font-size: 3rem;
}
.jk {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 1024px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .jk {
    justify-self: start;
    margin: 0 2rem;
  }
}
/*Colapsible*/
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__header h2 {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: 0.3s;
}
.collapsible__content {
  /*TODO:
  tafavot height ba max heigh dar in as ke 100vh height kole page ra migirad vali max heigh 100% az container khod ra migirad*/
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/*Blocks*/
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
  margin: 0 auto;
}
.block__header {
  text-align: center;
}
.block__heading {
  margin-top: 0;
}
.block--dark {
  background-color: #000;
  color: #b9c3cf;
}
.block--dark .block__heading {
  color: white;
}
.block--wavey {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
/*Navigation*/
.nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
  padding: 0 2rem;
}
.nav__item a {
  color: #d2d0db;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: white;
}
.nav__toggler {
  opacity: 0.5;
  transition: all 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 18px 5px #666;
  border-radius: 5px;
}
.brand {
  transform: translateY(5px);
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    width: auto;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}
/*Hero*/
.hero {
  padding-top: 0px;
}
.hero__header {
  line-height: 9rem;
}
.hero__tagline {
  margin-bottom: 4.5rem;
  letter-spacing: 1px;
}
.hero__banner {
  width: 100%;
}
@media screen and (min-width: 786px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
