<!--white header-->
<section class="block container--1140">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque
      voluptas animi ipsam ut non, distinctio culpa debitis harum molestiae.
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
          illum?
        </p>
      </div>
    </div>
  </div>
  <!--black header with wave-->
</section>
<section class="block block--dark block--wavey">
  <div class="container--1140">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque
      voluptas animi ipsam ut non, distinctio culpa debitis harum molestiae.
    </p>
  </div>
</section>
