<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="features__descriptions">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3>Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odit
        autem voluptates magnam pariatur illum consequuntur vitae et laboriosam
        animi.
      </p>
      <a href="#" class="arrowLink">LEARN MORE</a>
    </div>
    <img src="/Images/easy.webp" alt="" class="features__image" />
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__descriptions">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3>Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odit
        autem voluptates magnam pariatur illum consequuntur vitae et laboriosam
        animi.
      </p>
      <a href="#" class="arrowLink">LEARN MORE</a>
    </div>
    <img src="/Images/fast.webp" alt="" class="features__image" />
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__descriptions">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3>Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odit
        autem voluptates magnam pariatur illum consequuntur vitae et laboriosam
        animi.
      </p>
      <a href="#" class="arrowLink">LEARN MORE</a>
    </div>
    <img src="/Images/wordpress.webp" alt="" class="features__image" />
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__descriptions">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta odit
        autem voluptates magnam pariatur illum consequuntur vitae et laboriosam
        animi.
      </p>
      <a href="#" class="arrowLink">LEARN MORE</a>
    </div>
    <img src="/Images/support.webp" alt="" class="features__image" />
  </article>
</section>
